# environment -> ambiente -> entorno
# Definir variables de entorno
# CONVENCIÓN: TODO MAYÚSCULA Y SNAKE_CASE
# VARIABLE="valor"
# Se puede con o sin comillas, todo se guarda en string.

# DB_URI="mysql://root:123456@localhost:3307/2026-c1" VÁLIDO
DB_URI=variables-no-reales
CLAVE=valor
CLAVE2=valor2